html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #f9f9f9;
  margin: 0;
}
a {
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none;
}
em {
  font-style: oblique;
}
strong {
  font-style: bold;
}
img {
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
}
h3 {
  text-transform: capitalize;
  font-size: 1.875em;
  padding: 0 0 1% 0;
  color: #001833;
  font-weight: 800;
}

/* header css */

header {
  background: linear-gradient(rgba(224, 204, 200, 1), rgba(224, 204, 200, 0.9)),
    /* bottom, image */ url("./../images/black-woman-typing-resize.jpg");
  background-size: cover;
  background-position: center top;
  width: 100%;
}
.intro {
  max-width: 960px;
  margin: 0 auto;
  padding: 8% 0;
}
.intro h1 {
  font-size: 4em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 800;
  line-height: 1em;
}
.intro h2 {
  font-size: 2em;
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.09em;
}

/* About Styling */

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  font-family: proxima-nova, sans-serif;
  -webkit-animation-delay: 4s;
  /* Chrome, Safari, Opera */
  animation-delay: 2s;
  padding: 0 20px;
  width: 100%;
}
.about {
  padding: 4% 0;
}
.about p {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8;
  color: #616569;
  letter-spacing: 0.03em;
  margin: 10px auto;
  font-size: 1.5em;
  padding: 2% 0;
}
.about p a {
  color: #e1ccc9;
  border-bottom: 2px solid;
}

/* Work Styling */

.work {
  /* height: 300px; */
  margin: 5% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: white;
}
.work h3 {
  padding: 1% 0;
  margin: 0;
}
.text-box {
  text-align: left;
  width: 100%;
  height: 100%;
}
.text-box-content {
  padding: 4% 8%;
}
.text-box-content p {
  line-height: 1.8;
  color: #616569;
  letter-spacing: 0.03em;
  font-size: 1.2em;
}
.button {
  padding: 3% 3%;
  border: 3px solid #e0ccc8;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: #e0ccc8;
  text-align: center;
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 4%;
}
.button:hover {
  color: #fff;
  background-color: #e0ccc8;
}
.image-area {
  width: 100%;
}
.image-box {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 100%;
}
.image-trips-unplanned {
  background-image: url(images/trips-unplanned-main-page-mini.jpg);
}
.image-marketplace-of-ideas-app {
  background-image: url(images/marketplace-of-ideas-main-page.jpg);
}
.image-2nd-app {
  background-image: url(images/fridge-app-screenshot.png);
}


/* Contact Styling */

.contact {
  width: 100%;
  background-color: #011833;
  padding: 5% 0;
  margin-top: 5%;
  clear: both;
}
.contact-content {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.contact-content h4 {
  font-size: 1.6em;
  padding: 1% 0;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: column;
  line-height: 1.8em;
}
.contact-content a {
  color: #e0ccc8;
  text-decoration: none;
}

/* Image Divder Styling */
.image-divider {
  padding: 15% 0;
  background: /* bottom, image */ url("./../images/black-woman-typing-resize.jpg");
  background-size: cover;
  background-position: center top;
}

/* Footer Styling */
footer {
  background-color: #e0ccc8;
  color: #fff;
  padding: 2% 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.footer-content {
  max-width: 960px;
  padding: 4% 0;
  margin: 0 auto;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4;
  color: #fff;
  letter-spacing: 0.03em;
  font-size: 1em;
  font-size: 14px;
}

.credit {
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
}
.social {
  padding: 0;
}
.social li {
  display: inline;
}

.social li a {
  color: #fff;
  padding: 0.2em;
  font-weight: 600;
  font-size: 1.3em;
}
.social li a:hover {
  color: #011833;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
  .image-area {
    height: auto;
  }
}

.purple {
  background-color: #af6aab; 
}

.teal {
  background-color: #6fc9b3;
}

.tan {
  background-color: #8a8061;
}
.white {
  background-color: white;
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .social li a {
    font-size: 1.8em;
  }
  .work {
    flex-direction: row;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
